## 1)

In [5]:
n = int(input("Enter a number : "))

if n in range(2,101,2):
    if 2<= n <=5:
        print("Not Weird")
    elif 6<= n <=20:
        print("Weird")
    else:
        print("Not Weird")
else:
    print("Weird")

Enter a number : 4
Not Weird

## 2)

In [16]:
def is_leap(year):
    #leap = False
    # Write your logic here
    if year%4 == 0:
        print(True)
    else:
        print(False)

In [17]:
year = int(input())
is_leap(year)

2002
False

## 3)

In [194]:
for value in range(1,6):
    print(value,end = "")

12345

In [28]:
string = "satya"

In [42]:
"SAF".isupper()

True

### 4) You are given a string .
Your task is to find out if the string  contains: alphanumeric characters, alphabetical characters, digits, lowercase and uppercase characters.

In [134]:
s= "qA2"
list1 = []
list2 = []
list3 = []
list4 = []
list5 = []


for char in s:
    list1.append(char.isalnum())
    list2.append(char.isalpha())
    list3.append(char.isdigit())
    list4.append(char.islower())
    list5.append(char.isupper())
    
if list1.count(True) >= 1:
    print(True)
else:
    print(False)
    
if list2.count(True) >= 1:
    print(True)
else:
    print(False)
    
if list3.count(True) >= 1:
    print(True)
else:
    print(False)
    
if list4.count(True) >= 1:
    print(True)
else:
    print(False)
    
if list5.count(True) >= 1:
    print(True)
else:
    print(False)

True
True
True
True
True

### 5) HACKER RANK logo design

In [192]:
#Replace all ______ with rjust, ljust or center. 

thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1)+c+(c*i).ljust(thickness-1))

#Top Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))

#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))    

#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).center(thickness*6))    

#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness)+c+(c*(thickness-i-1)).ljust(thickness)).rjust(thickness*6))

5
    H
   HHH
  HHHHH
 HHHHHHH
HHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHHHHHHHHHHHHHHHHHHHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
  HHHHH               HHHHH
                    HHHHHHHHH
                     HHHHHHH
                      HHHHH
                       HHH
                        H

## 6)

In [1]:
string = "ABCDEFGHIJKLIMNOQRSTUVWXYZ"
width = 4
count = 0

for char in string:
    print(char,end="")
    count = count + 1
    if count%width == 0:
        print()

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

## 7)

In [244]:
N = 7
M = 21
c = "|"
d = "."
for i in range(N):
    print(c++c+d+d+c)

|..|..|
|..|..|
|..|..|
|..|..|
|..|..|
|..|..|
|..|..|

## 8)

In [ ]:
Kevin and Stuart want to play the 'The Minion Game'.

Game Rules

Both players are given the same string, .
Both players have to make substrings using the letters of the string .
Stuart has to make words starting with consonants.
Kevin has to make words starting with vowels.
The game ends when both players have made all possible substrings.

Scoring
A player gets +1 point for each occurrence of the substring in the string .

For Example:
String  = BANANA
Kevin's vowel beginning word = ANA
Here, ANA occurs twice in BANANA. Hence, Kevin will get 2 Points.

## 9)

### Let's use decorators to build a name directory! You are given some information about  people. Each person has a first name, last name, age and sex. Print their names in a specific format sorted by their age in ascending order i.e. the youngest person's name should be printed first. For two people of the same age, print them in the order of their input.

    For Henry Davids, the output should be:

    Mr. Henry Davids
    For Mary George, the output should be:

    Ms. Mary George
    Input Format

    The first line contains the integer , the number of people.
    lines follow each containing the space separated values of the first name, last name, age and sex, respectively.

    Constraints


    Output Format

    Output  names on separate lines in the format described above in ascending order of age.

    Sample Input :

    3
    Mike Thomson 20 M
    Robert Bustle 32 M
    Andria Bustle 30 F
    
    Sample Output :

    Mr. Mike Thomson
    Ms. Andria Bustle
    Mr. Robert Bustle