## VARIABLES, DATA TYPES, OPERATIONS

### 1)

In [47]:
type('satya',(1,2),{1.01:''})

TypeError: metaclass conflict: the metaclass of a derived class must be a (non-strict) subclass of the metaclasses of all its bases

metaclass conflict

In [31]:
id('satya')

1820047343344

In [32]:
hex(id('satya'))

'0x1a7c3467ef0'

\n --> newline
\t --> tabspace

### bitwise operators

bitwise or-->          |   Result bit 1,if both operand bits are 1;otherwise results bit 0(or table)
bitwise and-->         &   Result bit 1,if any of the operand bit is 1; otherwise results bit 0(and table)
bitwise not-->         ~   inverts individual bits(not table)
bitwise xor-->         ^   Results bit 1,if any of the operand bit is 1 but not both, otherwise results bit 0(xor table)
bitwise right shift--> >>  The left operand’s value is moved toward right by the number of bits specified by the right operand.
bitwise left shift-->  <<  The left operand’s value is moved toward left by the number of bits specified by the right operand.

2. All work and no play makes Jack a dull boy
   Store each word in a separate variable, then
    a. print out the sentence on one line using print.
    b. Print out each word in a separate line
    c. Print out each word with a comma separating on one
    line
    d. Print out each word on a new line with incremental
    spaces at the beginning of each word

In [13]:
Da='All'
b='work'
c='and'
d='no'
e='play'
f='makes'
g='Jack'
h='a'
i='dull'
j='boy'
print('A) '+a+' '+b+' '+c+' '+d+' '+e+' '+f+' '+g+' '+h+' '+i+' '+j)
print(f"B) {a}\n{b}\n{c}\n{d}\n{e}\n{f}\n{g}\n{h}\n{i}\n{j}")
print(f"C) {a},{b},{c},{d},{e},{f},{g},{h},{i},{j}")
print(f"D) {a}\n {b}\n  {c}\n   {d}\n    {e}\n     {f}\n      {g}\n       {h}\n        {i}\n         {j}")

A) All work and no play makes Jack a dull boy
B) All
work
and
no
play
makes
Jack
a
dull
boy
C) All,work,and,no,play,makes,Jack,a,dull,boy
D) All
 work
  and
   no
    play
     makes
      Jack
       a
        dull
         boy

In [83]:
print("abcd \n \"bc\"dv")

abcd
 "bc"dv

In [88]:
print("\n")

### 3)
Write a Python program that assigns the principal
amount of 10000 to variable P, assign to n the value 12, and
assign to r the interest rate of 8% (0.08). Then have the
program prompt the user for the number of years, t, that
the money will be compounded for. Calculate and print the
final amount after t years.

In [14]:
p = 10000
n=12
r=(0.08)
t=int(input("t: "))
CI = p*(1+(r/n))**(n*t)
print(f"the final amount after {t} years is {CI}")

t: 5
the final amount after 5 years is 14898.45708301605

### 4)
Accept the radius of the circle from the user and compute
the perimeter and radius of the circle

In [18]:
r=int(input("enter the radius: "))
p = 2*3.14*r
print(p)

enter the radius: 3
18.84

### 5)
Many people keep time using a 24 hour clock (11 is 11am
and 23 is 11pm, 0 is midnight). If it is currently 13 and you set
your alarm to go off in 50 hours, it will be 15 (3pm). Write a
Python program to solve the general version of the above
problem. Ask the user for the time now (in hours), and then
ask for the number of hours to wait for the alarm. Your
program should output what the time will be on the clock
when the alarm goes off

In [58]:
h=int(input("time now: "))
n=int(input("wait time: "))
g=h+n%24
print("the alarm goes off at:",g)

time now: 13
wait time: 50
the alarm goes off at: 15

### 6)
Write a program that will compute the area of a rectangle.
Prompt the user to enter the width and height of the
rectangle and store the values in variables called width and
height. Print a nice message with the answer

In [56]:
w =int(input("width: "))
h = int(input("height: "))
a = w*h
print(f"area of the rectangle is {a}")

width: 3
height: 3
area of the rectangle is 9

### 7)
Write a program that will convert degrees celsius to
degrees fahrenheit

In [47]:
c=int(input("celsius: "))
f= (c*9/5)+32
print(f"{f:.2f}")

celsius: 37
98.60

### 8)
Write a program that will convert degrees fahrenheit to
degrees celsius

In [53]:
f=float(input("farenheit: "))
c= (f-32)*5/9
print(c)

farenheit: 98
36.666666666666664

### 9)
Write a program that asks the user to enter two integers.
Have the program output the two integers and the result
when the first number entered is raised to the power of
the second number entered

In [61]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=b**a
print(f"{b}**{a} = {c} ")

enter a:3
enter b:2
2**3 = 8

### 10)
Using the modulus operator, assign the remainder of
1000/400 to the variable

In [63]:
a=1000%400
print(a)

200

### 11)
Using power operator **, assign the square of 11111 to the
variable.

In [64]:
a=11111**2
print(a)

123454321

### 12)
What is the output of print(2 ** 3 ** 2)

In [65]:
print(2**9)

512

In [66]:
print(2**3**2)

512

## LOOPS AND STATEMENTS

1. Write a program to print the following number pattern using a loop.
    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

2. Write a program to accept a number from a user and calculate the
sum of all numbers from 1 to a given number

In [24]:
a = int(input())
b=0
while(a>0):
    b=b+a
    a=a-1
print(b)

123344555
7606939685746290

3. Write a program to print multiplication table of a given number

In [35]:
a = int(input("enter the number: "))
b= int(input("enter limit number: "))
for i in range(1,b+1):
    print(f"{a}*{i}={i*a}")

enter the number: 7
enter limit number: 13
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
7*11=77
7*12=84
7*13=91

4. Write a program to count the total number of digits in a number
using a while loop.
For example, the number is 75869, so the output should be 5.

In [53]:
a=int(input("enter the number: "))
count=0
while(a>0):
    count=count+1
    a=a//10
print(count)

enter the number: 1234567
7

In [63]:
a=123
print(a%10)  #returns last digit

3

In [62]:
a=123
print(a//10)   #removes last digit

12

5. Write a program to use the loop to find the factorial of a given
number.

In [69]:
a= int(input("enter a number: "))
b=1
while(a>0):
    b=b*a
    a=a-1
print(b)

enter a number: 7
5040

6. Write a python program to find the sum of all even numbers from 0
to 10

In [74]:
a=0
for i in range(0,11):
    if i%2==0:
        a=a+i
print(a)

30

7. Write a python program to read three numbers (a,b,c) and check
how many numbers between ‘a’ and ‘b’ are divisible by ‘c

In [80]:
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
count=0
for i in range(a,b+1):
    if(i%c==0):
        count+=1
print(count)

enter a: 0
enter b: 10
enter c: 2
6

8. Write a python program to read radius of a circle and print the area

In [83]:
import math
r=int(input("enter the radius: "))
area = math.pi*(r)**2
print(area)

enter the radius: 5
78.53981633974483

9. Write a python program to read a number ,if it is an even number ,
print the square of that number and if it is an odd number print a
cube of that number.

In [86]:
n = int(input("enter the number: "))
if(n%2==0):
    print(n**2)
else:
    print(n**3)

enter the number: 7
343

10. Write a python program to read two numbers and find the sum of
their cubes

In [90]:
a=int(input("enter a: "))
b=int(input("enter b: "))
c=a**3+b**3
print(f"sum of their cubes is: {c}")

enter a: 2
enter b: 3
sum of their cubes is: 35

11. Given two integer numbers return their product only if the product is
greater than 1000, else return their sum.

In [93]:
a=int(input("enter a: "))
b=int(input("enter b: "))
if(a*b>1000):
    print(a*b)
else:
    print(a+b)

enter a: 3456
enter b: 345
1192320

12. Write a program to iterate the first 10 numbers and in each iteration,
print the sum of the current and previous number.

In [9]:
previousNum = 0
for i in num:
    Sum = previousNum + i
    print(f"Sum of Current Number({str(i)}) and Previous Number({str(previousNum)}) is {str(Sum)}") # <- This is the issue.
    previousNum=i

Sum of Current Number(0) and Previous Number(0) is 0
Sum of Current Number(1) and Previous Number(0) is 1
Sum of Current Number(2) and Previous Number(1) is 3
Sum of Current Number(3) and Previous Number(2) is 5
Sum of Current Number(4) and Previous Number(3) is 7
Sum of Current Number(5) and Previous Number(4) is 9
Sum of Current Number(6) and Previous Number(5) is 11
Sum of Current Number(7) and Previous Number(6) is 13
Sum of Current Number(8) and Previous Number(7) is 15
Sum of Current Number(9) and Previous Number(8) is 17

13. Write a program to check if the given number is a palindrome
number. A palindrome number is a number that is the same after
reverse. For example 545, is the palindrome numbers

In [11]:
#method1 -->by considering as it string
a=input("enter the number: ")
if a==a[::-1]:
    print("yes it is a palindrome number")
else:
    print("no it is not a palindrome number")

enter the number: 454
yes it is a palindrome number

14. Given a two list of numbers, write a program to create a new list such
that the new list should contain odd numbers from the first list and
even numbers from the second list.

In [5]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,0]
list3 =[]
for i in list1:
    if i%2!=0:
        list3.append(i)
for i in list2:
    if i%2==0:
        list3.append(i)
print(list3)

[1, 3, 5, 8, 0]

15.Write a Program to extract each digit from an integer in the reverse
order. For example, If the given int is 7536, the output shall be “6 3 5
7“, with a space separating the digits.

In [11]:
a=input("enter the number: ")
a=a[::-1]
for i in a:
    print(i,end=" ")

enter the number: 7536
6 3 5 7

16. Display numbers from -10 to -1 using for loop

In [15]:
for i in range(-10,-1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2

17. Write a program to accept a string from the user and display
characters that are present at an even index number.(Try to create
one solution with for loop and another solution using list)

In [14]:
strng = input("enter the string: ")
for i in range(len(strng)):
    if(i%2==0):
        print(strng[i],end=" ")

enter the string: satyasaisrinivas
s t a a s i i a

In [12]:
sttr = "satya"
print(sttr[2])

t

18. Write a program to remove characters from a string starting from
zero up to n and return a new string.

In [25]:
string1="ertyuiopoiufdsasdfghjkklkcxzxcvbnm"
string2=" "
length = len(string1)
n=int(input("enter n value: "))
string2 = string1[n:length]
print(string2)

enter n value: 10
ufdsasdfghjkklkcxzxcvbnm

19. Write a function to return True if the first and last number of a given
list is the same. If numbers are different then return False.

In [34]:
def truefalse(list1):
    if(list1[0]==list1[len(list1)-1]):
        return True
    else:
        return False
print(truefalse([1,2,1]))
print(truefalse([1,2,3]))

True
False

20.Iterate the given list of numbers and print only those numbers which
are divisible by 5

In [14]:
for i in range(int(input("enter the range: "))+1):
    if i%5==0:
        print(i)

enter the range: 20
0
5
10
15
20

## Data Structures  --->list,tuple,set,dict,string

## List

#### 1. Consider a list of x values and reverse the list

In [61]:
x=int(input("enter range: "))
list1 = []
for i in range(x):
    list1.append(i)
print(list1[::-1])

enter range: 23
[22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### 2. Consider two list with a collection of string in each list and concatenate two lists index-wise and create a new list (hint : use zipfunction)

In [10]:
list1= ["satya","sai","srinivas"]
list2= ["sai","satya","yendru"]
list3=[]
for i in range(len(list1)): 
    list3.append(list1[i]+list2[i])
print(list3)

['satyasai', 'saisatya', 'srinivasyendru']

In [12]:
list3 =[]
for index1,index2 in zip(list1,list2):  #using zip function
    list3.append(index1+index2)
print(list3)

['satyasai', 'saisatya', 'srinivasyendru']

#### 3. Given a Python list of numbers. Turn every item of a list into its square

In [13]:
lst = [2,3,4,5,6,7,7,8]
for i in range(len(lst)):
    lst[i] = (lst[i])**2
print(lst)

[4, 9, 16, 25, 36, 49, 49, 64]

4. Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
OUTPUT:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [15]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = []
for i in list1:
    for j in list2:
        list3.append(i+j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

#### 5. Given a Python list, remove all occurrence of 20 from the list

In [31]:
list1 = [20,2,21,20,30,20,12,20,123,20]
for i in list1:
    if i==20:
        list1.remove(i)  #using remove funtion --> remove function directly removes the value
print(list1)

[2, 21, 30, 12, 123]

In [39]:
list1 = [20,2,21,20,30,20,12,20,123,20]
for i in range(list1.count(20)):
    list1.remove(20)  #using remove funtion and count function
print(list1)

[2, 21, 30, 12, 123]

In [77]:
lst1 = [20,2,21,20,30,20,12,20,12,1,2,3]
while(True):
    if 20 in lst1:
        index = lst1.index(20)
        lst1.pop(index)  #using pop funtion and while loop --> pop function removes the value by using the index
    else:                #too many iterations
        print("The updated list is: ",end="")
        break
print(lst1)

The updated list is: [2, 21, 30, 12, 12, 1, 2, 3]

In [78]:
lst1 = [20,2,21,20,30,20,12,20,12,1,2,3]
while(20 in lst1):
    index = lst1.index(20)
    lst1.pop(index)  #using pop funtion and while loop --> pop function removes the value by using the index --> efficient
print(lst1)

[2, 21, 30, 12, 12, 1, 2, 3]

In [74]:
lst1 = [20,2,21,20,30,20,12,20,12,1,2,3]
for i in range(len(lst1)):
    if lst1[i]==20:
        lst1.pop(i)  #using pop funtion and for loop --> pop function removes the value by using the index
    else:
        print("The updated list is: ",end="")
        break
print(lst1)

The updated list is: [2, 21, 20, 30, 20, 12, 20, 12, 1, 2, 3]

#### 6. Given a Python list, find value 20 in the list, and if it is present,replace it with 200. Only update the first occurrence of a value

In [57]:
list6 = [12,23,20,24,64,77,8,9,20,235,20]
count = list6.count(20)
if count==0:
    print("20 is not present in the list")
else:
    index1 = list6.index(20)
    list6.remove(20)
    list6.insert(index1,200)   #using insert function which takes index and char to be inserted at a specific index 
print(list6)

[12, 23, 200, 24, 64, 77, 8, 9, 20, 235, 20]

In [56]:
list6 = [12,23,20,24,64,77,8,9,20,235,20]
index1 = list6.index(20)
list6[index1] = 200        #using indexing
print(list6)

[12, 23, 200, 24, 64, 77, 8, 9, 20, 235, 20]

7. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
Expected output: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [59]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sublst = ["h", "i", "j"]
list1[2][1][2].extend(Sublst)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

8. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
OUTPUT:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [49]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

9. Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
OUTPUT:
["Mike", "Emma", "Kelly", "Brad"]

In [47]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in range(list1.count("")):
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

### Dictionary

1. Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
OUTPUT:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

2. Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
OUTPUT:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

3. Access the value of key ‘history’ from the below dict
sampleDict = {
"class":{
"student":{
"name":"Mike",
"marks":{
"physics":70,
"history":80
}
}
}
}
OUTPUT:
80

4. Create a new dictionary by extracting the following keys from a
below dictionary
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
keys = ["name", "salary"]
OUTPUT:
{'name': 'Kelly', 'salary': 8000}

5. Delete set of keys from a dictionary
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
keysToRemove = ["name", "salary"]
OUTPUT:
{'city': 'New york', 'age': 25}

6. Rename key city to location in the following dictionary
sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
Expected output:
{
"name": "Kelly",
"age":25,
"salary": 8000,
"location": "New york"
}

7. Get the key of a minimum value from the following dictionary
sampleDict = {
'Physics': 82,
'Math': 65,
'history': 75
}
Expected output:
Math

8. Change Brad’s salary to 8500 from a given Python dictionary
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}
Expected output:
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 8500}
}

### Tuple

1. Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
Expected output:
20

2. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
Expected output:
aTuple = (10, 20, 30, 40)
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

3. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

4. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

5. Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [222, 33], 44, 55)

6. What's the index of 2? In the given tuple
Tuple_sample =(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)

7. What is the sum, min and max of all the numbers in the tuple?
Tuple_sample =(42, 1092, 11, 88, 65, 2, 6)

### Set

1. Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
Expected output:
{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

2. Return a new set of identical items from a given two set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{40, 50, 30}

3. Returns a new set with all items from both sets by removing
duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 40, 10, 50, 20, 60, 30}

4. Given two Python sets, update the first set with items that exist only
in the first set and not in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}
Expected output:
set1 {10, 30}

5. Remove items 10, 20, 30 from the following set at once
set1 = {10, 20, 30, 40, 50}
Expected output:
{40, 50}

### String

#### 1. Check if “is” present in the given string. String = “this is a sample Data”

In [98]:
String = "this is a sample Data"
list1 = String.split(" ")         #by converting string into list using split function
print(list1)
if "is" in list1:
    print("present")
else:
    print("not present")

['this', 'is', 'a', 'sample', 'Data']
present

#### 2. Create a new string from the above string by removing“Data”.

In [114]:
String = "this is a sample Data"
list1 = String.split(" ")
list1.remove("Data")
string2.join(list1)    #using remove and join function

'this is a sample'

#### 3. Display date, month and year from “15-Nov-2021”

In [115]:
string = "15-Nov-2021"
list1 = string.split("-")
print(f"Date:{list1[0]}\nMonth:{list1[1]}\nYear:{list1[2]}")

Date:15
Month:Nov
Year:2021

#### 4. Display ‘sample’ word from ‘ this is another sample string ‘

In [144]:
samplestrng = "this is another sample string"
substrng = "sample"
start = samplestrng.index(substrng)
stop = start + len(substrng)
samplestrng[start:stop]       #slicing  -->most efficient method

'sample'

In [152]:
sample = "this is another sample string"
lst = sample.split(" ")     #using split to convert string into list
for i in lst:
    if i=="sample":
        print(i)

sample

In [118]:
if "sample" in sample:
    print("sample")       #simple way

sample

#### 5. We have an array of values = “10,20,30,40,50,60,70”, get “50,60”

In [149]:
string = "10,20,30,40,50,60,70"
subarray = "50,60"
start = string.index(subarray)
stop = start + len(subarray)
string[start:stop]            #slicing

'50,60'

In [150]:
array = [10,20,30,40,50,60,70]        #if considered as a list
index1=array.index(50)
index2=array.index(60)
print(array[index1],array[index2])

50 60

#### 6. Find the sum of elements arr = “10,20,30,40,50,60,70”

In [159]:
arr = "10,20,30,40,50,60,70"
lst = arr.split(",")
sumof = 0
for i in lst:
    sumof = sumof + int(i)
print(sumof)

280

#### 7. From the given string From credit_str =“1234-5678-9878-0434” print ‘0’

In [161]:
string ="1234-5678-9878-0434"
sub="0"
start = string.index(sub)
stop = start + len(sub)
string[start:stop]

'0'

#### 8. From the given list calculate total scores.student_scores =[‘Alex|75 50 90 80 90 70’,‘Mary|76 72 71 68 85 69’,‘John|69 67 68 71 68 67’,‘Anne|80 69 59 82 71 81’,‘Mark|79 81 74 71 69 73’]

In [179]:
student_scores =["Alex|75 50 90 80 90 70","Mary|76 72 71 68 85 69","John|69 67 68 71 68 67","Anne|80 69 59 82 71 81",
                 "Mark|79 81 74 71 69 73"]
string = " "                             #efficient way
sum_of_elements = 0
for index in range(len(student_scores)):
    string = student_scores[index]
    split_string = string.split("|")
    name = split_string[0]
    scores = split_string[1]
    individual_scores = scores.split(" ")
    for value in individual_scores:
        sum_of_elements = sum_of_elements + int(value)
    print(f"The total score of {name} is {sum_of_elements}")
    sum_of_elements = 0

The total score of Alex is 455
The total score of Mary is 441
The total score of John is 410
The total score of Anne is 442
The total score of Mark is 447

In [180]:
student_scores =["Alex|75 50 90 80 90 70","Mary|76 72 71 68 85 69","John|69 67 68 71 68 67","Anne|80 69 59 82 71 81",
                 "Mark|79 81 74 71 69 73"]
names = []
list2=[]
scores =[]
for i in student_scores:
    split1 = i.split("|")
    names.append(split1[0])
    scores.append(split1[1])
for i in scores:
    split2 = i.split(" ")
    total =0
    for j in split2:
        total = total+int(j)
    list2.append(total)
for i in range(len(names)):
    print(f"the total score of {names[i]} is {list2[i]}")

the total score of Alex is 455
the total score of Mary is 441
the total score of John is 410
the total score of Anne is 442
the total score of Mark is 447

#### 9. Calculate the sum and average of the digits present in a string (ex : “lasya253@21658922”)

In [187]:
ex = "lasya253@21658922"
digits = ["0","1","2","3","4","5","6","7","8","9"]
count =0
total =0
for i in ex:
    if i in digits:
        count+=1
        total+= int(i)
average = total/count
print(f"the sum is: {total}")
print(f"the average is: {average}")

the sum is: 45
the average is: 4.090909090909091

#### 10.Remove all characters from a string except integers( Ex :str1 = 'I am 25 years and 10 months old', output : 2510)

In [195]:
str1 = 'I am 25 years and 10 months old'
digits = ["0","1","2","3","4","5","6","7","8","9"]         #easy but not justifies the question
lst = []
for char in str1:
    if char in digits:
        print(char,end="")

2510

In [194]:
str1 = "I am 25 years and 10 months old"
list2 = ["0","1","2","3","4","5","6","7","8","9"]          #correct according to question

for char in str1:
    if char not in list2:
        str1 = str1.replace(char,"")
        
print(str1)

2510